body{
margin-top:10px;
margin-bottom:50px;
margin-right:10px;
margin-left:10px;
background-color:rgba(240,255,240,1);
color:rgba(80,40,0,1);
font-size:15px;
line-height:160%;
/*font-family:"Arial";*/
font-family:"Helvetica";
/*font-family:"Geneva";*/
}

#container{
margin:auto;
max-width:1024px;
}

#header{
background-color:rgba(140,110,90,1);
width:100%;
height:40px;
text-align:center;
font-size: 18px;
font-weight: bold;
}

#headertd{
width:33.3%;
}

#toplink{
text-decoration: none;
color:rgba(255,255,255,1);
}

#paper_title{
font-weight: bold;
}

#graphical_abstract{
width:100px;
height:80px;
}

#miniproj_title{
font-weight:bold;
}

#showcase{
line-height: 100%;
background-color:rgba(150,200,250,0.5);
width:600px;
padding: 5px;
border-spacing: 10px;
border-collapse: separate;
border: 1px solid black;
}

#KiWii{
width:280px;
height:230px;
margin-top:-25px;
margin-bottom:-25px;
} 

#MC{
width:391px;
height:230px;
margin-top:-0px;
} 

p{
margin-left:20px;
line-height: 160%;
}

h1{
color:rgba(50,50,100,1);
/*text-align:center;*/
}

td {
line-height: 160%;
}

a:link{
text-decoration: none;
color:rgba(205,115,0,1);
}

a:visited{
text-decoration: none;
color:rgba(205,115,0,1);
}

a:hover
{ 
color:rgba(255,195,50,1);
}

img{
padding:0px;
border:1px solid rgba(0,0,0,1);
background-color:rgba(0,0,0,1);
}

hr{
border: 0;
width: 100%;
background-color: rgba(100,100,100,0.5);
height: 2px;
}



